// Social: Facebook / Open Graph
meta(property='og:title', content=`${about.title}`)
meta(property='og:description', content=`${about.description}`)
meta(property='og:image', content=`images/${about.image}`)
meta(property='og:url', content=`${about.canonical}`)
meta(property='og:locale', content='en')
meta(property='og:site_name', content=`${about.title}`)
meta(property='og:type', content='website')
meta(property='article:author', content=`${about.author}`)
meta(property='article:section', content='website')

// Social: Twitter
meta(name='twitter:title', content=`${about.title}`)
meta(name='twitter:description', content=`${about.description}`)
meta(name='twitter:image:src', content=`images/${about.image}`)
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:domain', content=`${about.title}`)
meta(name='twitter:url', content=`${about.canonical}`)
meta(name='twitter:site', content=`${about.canonical}`)
meta(name='twitter:creator', content=`${about.author}`)

// Social: Google+
meta(itemprop="name", content=`${about.title}`)
meta(itemprop="description", content=`${about.description}`)
meta(itemprop="image", content=`${about.image}`)
