section#team.wrapper.style2.spotlights

  each member in team

    section
      a.image(href='#')
        img(src=`images/${member.alias}.png`, alt=`${member.name}`, data-position='center center')
      .content
        .inner
          h2 #{member.name}
          p
            | #{member.description}
          ul.icons
            li
              a.fa-github(href=`https://github.com/${member.socialNetworks.github}` target='_blank')
                span.label GitHub
            li
              a.fa-twitter(href=`https://twitter.com/${member.socialNetworks.github}` target='_blank')
                span.label Twitter
            li
              a.fa-linkedin(href=`https://www.linkedin.com/in/${member.socialNetworks.github}` target='_blank')
                span.label LinkedIn
